<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Erro no Servidor</title>
    <style>body { font-family: sans-serif; text-align: center; padding: 3rem; }</style>
</head>
<body>
    <h1>Ocorreu um Erro</h1>
    <p> <%= message %> </p>
</body>
</html>